<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244324885853-pqj5qurdab63flm7amiemse0phocd901.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244324885853-pqj5qurdab63flm7amiemse0phocd901</string>
	<key>API_KEY</key>
	<string>AIzaSyB-Lnio6kA9IbO1kdlOLFMA980MsTwIbMo</string>
	<key>GCM_SENDER_ID</key>
	<string>244324885853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dk.mariana.MakeableChat</string>
	<key>PROJECT_ID</key>
	<string>makeablechat-55cdc</string>
	<key>STORAGE_BUCKET</key>
	<string>makeablechat-55cdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244324885853:ios:ca74d5355d5f04f36e34b4</string>
</dict>
</plist>